# shell_data_reporting_ap_is
#
# This file was automatically generated by
# APIMATIC v3.0 ( https://www.apimatic.io ).

module ShellDataReportingApIs
  # CustomerController
  class CustomerController < BaseController
    # This operation allows querying the user data of the logged in user.
    # This operation should be called only after successful authentication of
    # the end user in client application. This operation will return the user
    # access details such as payers and/or accounts.
    # This operation will also validate that logged in user has access to the
    # requested operation, on failure it will return HasAPIAccess flag as false
    # in the response.
    # @param [String] request_id Required parameter: Mandatory UUID (according
    # to RFC 4122 standards) for requests and responses. This will be played
    # back in the response from the request.
    # @param [LoggedInUserReq] body Required parameter: TODO: type description
    # here
    # @return [LoggedInUserRes] Response from the API call.
    def user_loggedinuser(request_id,
                          body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/user-management/v1/loggedinuser',
                                     Server::SHELL)
                   .header_param(new_parameter(request_id, key: 'RequestId'))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('BearerToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(LoggedInUserRes.method(:from_hash))
                    .local_error('400',
                                 "The server cannot or will not process the request due to'\
                                  ' something that is perceived to be a client error (e.g.,'\
                                  ' malformed request syntax, invalid request message framing, or'\
                                  ' deceptive request routing).\n",
                                 ErrorObjectException)
                    .local_error('401',
                                 "The request has not been applied because it lacks valid '\
                                  ' authentication credentials for the target resource.\n",
                                 ErrorObjectException)
                    .local_error('403',
                                 'Forbidden',
                                 ErrorObjectException)
                    .local_error('404',
                                 "The origin server did not find a current representation  for'\
                                  ' the target resource or is not willing to disclose  that one'\
                                  ' exists.\n",
                                 ErrorObjectException)
                    .local_error('500',
                                 "The server encountered an unexpected condition that  prevented'\
                                  ' it from fulfilling the request.\n",
                                 ErrorObjectException))
        .execute
    end

    # This API allows querying the payer accounts details from the Shell Cards
    # Platform. It provides flexible search criteria for searching payer
    # information and supports paging.
    # Paging is applicable only when all the
    # payers passed in the input are from the same ColCo.
    # However, paging will
    # be ignored and the API will return all the matching data by merging the
    # data queried from each ColCo when payers passed in the input are from
    # multiple ColCos.
    # @param [String] request_id Required parameter: Mandatory UUID (according
    # to RFC 4122 standards) for requests and responses. This will be played
    # back in the response from the request.
    # @param [PayerReq] body Required parameter: TODO: type description here
    # @return [PayerRes] Response from the API call.
    def customerpayers(request_id,
                       body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/customer-management/v1/payers',
                                     Server::SHELL)
                   .header_param(new_parameter(request_id, key: 'RequestId'))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('BearerToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PayerRes.method(:from_hash))
                    .local_error('400',
                                 "The server cannot or will not process the request due to'\
                                  ' something that is perceived to be a client error (e.g.,'\
                                  ' malformed request syntax, invalid request message framing, or'\
                                  ' deceptive request routing).\n",
                                 ErrorObjectException)
                    .local_error('401',
                                 "The request has not been applied because it lacks valid '\
                                  ' authentication credentials for the target resource.\n",
                                 ErrorObjectException)
                    .local_error('403',
                                 'Forbidden',
                                 ErrorObjectException)
                    .local_error('404',
                                 "The origin server did not find a current representation  for'\
                                  ' the target resource or is not willing to disclose  that one'\
                                  ' exists.\n",
                                 ErrorObjectException)
                    .local_error('500',
                                 "The server encountered an unexpected condition that  prevented'\
                                  ' it from fulfilling the request.\n",
                                 ErrorObjectException))
        .execute
    end

    # This API allows querying the card delivery addresses of a given account
    # from the Shell Cards Platform. Only active delivery addresses will be
    # returned.
    # @param [String] request_id Required parameter: Mandatory UUID (according
    # to RFC 4122 standards) for requests and responses. This will be played
    # back in the response from the request.
    # @param [CustomerReq] body Required parameter: TODO: type description
    # here
    # @return [CustomerRes] Response from the API call.
    def customerdetail(request_id,
                       body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/customer-management/v1/customer',
                                     Server::SHELL)
                   .header_param(new_parameter(request_id, key: 'RequestId'))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('BearerToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CustomerRes.method(:from_hash))
                    .local_error('400',
                                 "The server cannot or will not process the request due to'\
                                  ' something that is perceived to be a client error (e.g.,'\
                                  ' malformed request syntax, invalid request message framing, or'\
                                  ' deceptive request routing).\n",
                                 ErrorObjectException)
                    .local_error('401',
                                 "The request has not been applied because it lacks valid '\
                                  ' authentication credentials for the target resource.\n",
                                 ErrorObjectException)
                    .local_error('403',
                                 'Forbidden',
                                 ErrorObjectException)
                    .local_error('404',
                                 "The origin server did not find a current representation  for'\
                                  ' the target resource or is not willing to disclose  that one'\
                                  ' exists.\n",
                                 ErrorObjectException)
                    .local_error('500',
                                 "The server encountered an unexpected condition that  prevented'\
                                  ' it from fulfilling the request.\n",
                                 ErrorObjectException))
        .execute
    end

    # This API allows querying the customer account details from the Shell Cards
    # Platform. It provides a flexible search criterion and supports pagination.
    # @param [String] request_id Required parameter: Mandatory UUID (according
    # to RFC 4122 standards) for requests and responses. This will be played
    # back in the response from the request.
    # @param [AccountReq] body Required parameter: TODO: type description here
    # @return [AccountRes] Response from the API call.
    def post_card_accounts(request_id,
                           body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/customer-management/v1/accounts',
                                     Server::SHELL)
                   .header_param(new_parameter(request_id, key: 'RequestId'))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('BearerToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(AccountRes.method(:from_hash))
                    .local_error('400',
                                 "The server cannot or will not process the request due to'\
                                  ' something that is perceived to be a client error (e.g.,'\
                                  ' malformed request syntax, invalid request message framing, or'\
                                  ' deceptive request routing).\n",
                                 ErrorObjectException)
                    .local_error('401',
                                 "The request has not been applied because it lacks valid '\
                                  ' authentication credentials for the target resource.\n",
                                 ErrorObjectException)
                    .local_error('403',
                                 'Forbidden',
                                 ErrorObjectException)
                    .local_error('404',
                                 "The origin server did not find a current representation  for'\
                                  ' the target resource or is not willing to disclose  that one'\
                                  ' exists.\n",
                                 ErrorObjectException)
                    .local_error('500',
                                 "The server encountered an unexpected condition that  prevented'\
                                  ' it from fulfilling the request.\n",
                                 ErrorObjectException))
        .execute
    end

    # This API provides allows querying the active card types that are
    # associated to the given account.
    # 
    # The API returns the card type configurations, purchase categories
    # associated with the card type and the card type restriction limits.
    # @param [String] request_id Required parameter: Mandatory UUID (according
    # to RFC 4122 standards) for requests and responses. This will be played
    # back in the response from the request.
    # @param [CardTypeReq] body Required parameter: TODO: type description
    # here
    # @return [CardTypeRes] Response from the API call.
    def customercardtypev(request_id,
                          body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/customer-management/v1/cardtype',
                                     Server::SHELL)
                   .header_param(new_parameter(request_id, key: 'RequestId'))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('BearerToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CardTypeRes.method(:from_hash))
                    .local_error('400',
                                 "The server cannot or will not process the request due to'\
                                  ' something that is perceived to be a client error (e.g.,'\
                                  ' malformed request syntax, invalid request message framing, or'\
                                  ' deceptive request routing).\n",
                                 ErrorObjectException)
                    .local_error('401',
                                 "The request has not been applied because it lacks valid '\
                                  ' authentication credentials for the target resource.\n",
                                 ErrorObjectException)
                    .local_error('403',
                                 'Forbidden',
                                 ErrorObjectException)
                    .local_error('404',
                                 "The origin server did not find a current representation  for'\
                                  ' the target resource or is not willing to disclose  that one'\
                                  ' exists.\n",
                                 ErrorObjectException)
                    .local_error('500',
                                 "The server encountered an unexpected condition that  prevented'\
                                  ' it from fulfilling the request.\n",
                                 ErrorObjectException))
        .execute
    end

    # This API allows querying the card group details from the Shell Cards
    # Platform. It provides flexible search criteria and supports paging.
    # When the account is not passed in the input and card group type is
    # configured as
    # â€˜Verticalâ€™ in the cards platform, this API will return all card groups
    # from
    # the payer as well as from all the accounts under the payer.
    # When the account is not passed in the input and card group type is
    # configured as
    # â€˜Horizontalâ€™ in cards platform, this API will return all card groups
    # configured directly under the payer.
    # @param [String] request_id Required parameter: Mandatory UUID (according
    # to RFC 4122 standards) for requests and responses. This will be played
    # back in the response from the request.
    # @param [CardGroupReq] body Required parameter: TODO: type description
    # here
    # @return [CardGroupRes] Response from the API call.
    def cardgroups(request_id,
                   body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/customer-management/v1/cardgroups',
                                     Server::SHELL)
                   .header_param(new_parameter(request_id, key: 'RequestId'))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('BearerToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CardGroupRes.method(:from_hash))
                    .local_error('400',
                                 "The server cannot or will not process the request due to'\
                                  ' something that is perceived to be a client error (e.g.,'\
                                  ' malformed request syntax, invalid request message framing, or'\
                                  ' deceptive request routing).\n",
                                 ErrorObjectException)
                    .local_error('401',
                                 "The request has not been applied because it lacks valid '\
                                  ' authentication credentials for the target resource.\n",
                                 ErrorObjectException)
                    .local_error('403',
                                 'Forbidden',
                                 ErrorObjectException)
                    .local_error('404',
                                 "The origin server did not find a current representation  for'\
                                  ' the target resource or is not willing to disclose  that one'\
                                  ' exists.\n",
                                 ErrorObjectException)
                    .local_error('500',
                                 "The server encountered an unexpected condition that  prevented'\
                                  ' it from fulfilling the request.\n",
                                 ErrorObjectException))
        .execute
    end

    # This operation allows users to fetch audit data of account or card
    # operations performed by users of a given customer
    # The audit data includes details of below API operations
    # * Order Card
    # * Create Card Group
    # * PIN reminder
    # * Move Cards
    # * Update Card Status
    # * Update Card Group
    # * Auto renew
    # * Bulk card order
    # * Bulk card block
    # * Bulk Card Order (Multi Account)
    # * BCOSummary
    # * BCOMultiAccountSummary
    # * BCBSummary
    # * Mobile Payment Registration
    # * Fund Transfer (Scheduled & Realtime)
    # * Delivery Address Update.
    # @param [String] request_id Required parameter: Mandatory UUID (according
    # to RFC 4122 standards) for requests and responses. This will be played
    # back in the response from the request.
    # @param [AuditReq] body Optional parameter: request body
    # @return [AuditResponse] Response from the API call.
    def audit_report(request_id,
                     body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/customer-management/v1/auditreport',
                                     Server::SHELL)
                   .header_param(new_parameter(request_id, key: 'RequestId'))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('BearerToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(AuditResponse.method(:from_hash))
                    .local_error('400',
                                 "The server cannot or will not process the request due to'\
                                  ' something that is perceived to be a client error (e.g.,'\
                                  ' malformed request syntax, invalid request message framing, or'\
                                  ' deceptive request routing).\n",
                                 ErrorObjectException)
                    .local_error('401',
                                 "The request has not been applied because it lacks valid '\
                                  ' authentication credentials for the target resource.\n",
                                 ErrorObjectException)
                    .local_error('403',
                                 'Forbidden',
                                 ErrorObjectException)
                    .local_error('404',
                                 "The origin server did not find a current representation  for'\
                                  ' the target resource or is not willing to disclose  that one'\
                                  ' exists.\n",
                                 ErrorObjectException)
                    .local_error('500',
                                 "The server encountered an unexpected condition that  prevented'\
                                  ' it from fulfilling the request.\n",
                                 ErrorObjectException))
        .execute
    end

    # - This operation fetches the International and National Price List and
    # discount values set on pump prices & List Prices
    # - It allows searching price list and discount values set on pump prices
    # that are applicable for a given customer
    # **Note**: Accounts with cancelled status will not be considered for this
    # operation for the configured
    # - When the search is based on customer specific price list then the
    # customer price list is returned based on the associated pricing customer.
    # - The discount values set on pump prices, which are returned by the
    # operation are always customer specific values based on the customer
    # associated price rules.
    # @param [String] request_id Required parameter: Mandatory UUID (according
    # to RFC 4122 standards) for requests and responses. This will be played
    # back in the response from the request.
    # @param [CustomerPriceListReq] body Optional parameter: Customerdetails
    # request body
    # @return [CustomerPriceListRes] Response from the API call.
    def customer_price_list(request_id,
                            body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/customer-management/v1/pricelist',
                                     Server::SHELL)
                   .header_param(new_parameter(request_id, key: 'RequestId'))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('BearerToken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(CustomerPriceListRes.method(:from_hash))
                    .local_error('400',
                                 'The server cannot or will not process the request due to'\
                                  ' something that is perceived to be a client error (e.g.,'\
                                  ' malformed request syntax, invalid request message framing, or'\
                                  ' deceptive request routing).',
                                 ErrorObjectException)
                    .local_error('401',
                                 'The request has not been applied because it lacks valid '\
                                  ' authentication credentials for the target resource.',
                                 ErrorObjectException)
                    .local_error('403',
                                 'Forbidden',
                                 ErrorObjectException)
                    .local_error('404',
                                 'The origin server did not find a current representation  for'\
                                  ' the target resource or is not willing to disclose  that one'\
                                  ' exists.',
                                 ErrorObjectException)
                    .local_error('500',
                                 'The server encountered an unexpected condition that  prevented'\
                                  ' it from fulfilling the request.',
                                 ErrorObjectException))
        .execute
    end
  end
end
